body{
  font-family: helvetica;
  text-align: center;
}
#image {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
}
.topnav{
  color: white;
  font-size: 18px;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
.midborder h3{
  font-size: 23;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
}
.footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
.bottomnav {
  color: white;
  font-size: 18px;
}
